---
Checks: >
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-avoid-magic-numbers,
  google-explicit-constructor,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  readability-*,
  -clang-diagnostic-pragma-once-outside-header,
  -cppcoreguidelines-avoid-const-or-ref-data-members
CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: "^(c|i|j|w|k|t|u|v|_|x|y|z|a|b|aa|bb|ip|os)$"
  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: true
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: 3;5;6;10;11;14;15;20;24;1024;2048;100;500;1000;5000;1000000;1e6;
  - key: readability-magic-numbers.IgnoredFloatingPointValues
    value: 0.073;0.5;0.75;0.97;1.0;1.5;2.0;3.0;10.0;100.0;1000.0;0.1;0.001;0.0001;0.00001;0.0000001;1e6;1e6L;1000000.0L;1000000.0;-1.0;-2.0;-3.0;
  - key: readability-magic-numbers.IgnorePowersOf2IntegerValues
    value: true
  - key: cppcoreguidelines-pro-type-member-init.IgnoreArrays
    value: true
HeaderFilterRegex: '.*(src|test).*/.*(.cpp|.h)$'