---
Checks: >
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-avoid-magic-numbers,
  google-explicit-constructor,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  readability-*,
  -clang-diagnostic-pragma-once-outside-header,
  -cppcoreguidelines-avoid-const-or-ref-data-members
CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: "^(c|i|j|w|k|t|u|v|_|x|y|z|a|b|aa|bb|ip|os)$"
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: 3;5;6;10;11;14;20;1024;2048;100;500;1000;5000;1000000;1e6;
  - key: readability-magic-numbers.IgnoredFloatingPointValues
    value: 0.073;0.5;0.75;0.97;1.0;1.5;2.0;3.0;10.0;100.0;1000.0;0.1;0.001;0.0001;0.00001;0.0000001;1e6;1e6L;1000000.0L;1000000.0;-1.0;-2.0;-3.0;
  - key: readability-magic-numbers.IgnorePowersOf2IntegerValues
    value: true
  - key: cppcoreguidelines-pro-type-member-init.IgnoreArrays
    value: true
HeaderFilterRegex: '^src/.*'
ExtraArgs:
  - -D LOCAL_SSID=\"Test SSID\",
  - -D PASSPHRASE=\"TEST PWD\",
  - -D CONFIG_ASYNC_TCP_RUNNING_CORE=0
  - -D CONFIG_BT_NIMBLE_PINNED_TO_CORE=0
  - -D CONFIG_BT_NIMBLE_ROLE_CENTRAL_DISABLED
  - -D CONFIG_BT_NIMBLE_ROLE_OBSERVER_DISABLED
  - -D PLATFORMIO=60107
  - -D ARDUINO_ESP32_DEV
  - -D HAVE_CONFIG_H
  - -D MBEDTLS_CONFIG_FILE=\"mbedtls/esp_config.h\"
  - -D UNITY_INCLUDE_CONFIG_H
  - -D WITH_POSIX
  - -D _GNU_SOURCE
  - -D IDF_VER=\"v4.4.3\"
  - -D ESP_PLATFORM
  - -D _POSIX_READER_WRITER_LOCKS
  - -D ARDUINO_ARCH_ESP32
  - -D ESP32
  - -D F_CPU=240000000L
  - -D ARDUINO=10812
  - -D ARDUINO_VARIANT=\"firebeetle32\"
  - -D ARDUINO_BOARD=\"FireBeetle-ESP32\"
  - -D ARDUINO_PARTITION_default
  - -Iinclude
  - -Isrc
  - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/Preferences/src
  - -I.pio/libdeps/generic/ArduinoLog
  - -I.pio/libdeps/generic/FastLED/src
  - -I.pio/libdeps/generic/SdFat/src
  - -I.pio/libdeps/generic/NimBLE-Arduino/src
  - -I.pio/libdeps/generic/AsyncTCP-esphome/src
  - -I.pio/libdeps/generic/ESPAsyncWebServer-esphome/src
  - -I../../../../.platformio/packages/framework-arduinoespressif32/cores/esp32
  - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/WiFi/src
  - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/FS/src
  - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/LittleFS/src
  - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_littlefs/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/SPIFFS/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/spiffs/include
# - -I../../../../Documents/www/Embeded System Dev/esp-rowing-monitor/.pio/libdeps/esp32/AsyncTCP-esphome/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/newlib/platform_include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/freertos/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/freertos/include/esp_additions/freertos
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/freertos/port/xtensa/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/freertos/include/esp_additions
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_hw_support/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_hw_support/include/soc
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_hw_support/include/soc/esp32
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_hw_support/port/esp32
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_hw_support/port/esp32/private_include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/heap/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/log/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/lwip/include/apps
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/lwip/include/apps/sntp
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/lwip/lwip/src/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/lwip/port/esp32/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/lwip/port/esp32/include/arch
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/soc/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/soc/esp32
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/soc/esp32/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/hal/esp32/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/hal/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/hal/platform_port/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_rom/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_rom/include/esp32
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_rom/esp32
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_common/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_system/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_system/port/soc
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_system/port/public_compat
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp32/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/xtensa/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/xtensa/esp32/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/driver/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/driver/esp32/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_pm/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_ringbuf/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/efuse/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/efuse/esp32/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/vfs/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_wifi/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_event/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_netif/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_eth/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/tcpip_adapter/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_phy/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_phy/esp32/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_ipc/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/app_trace/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_timer/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/mbedtls/port/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/mbedtls/mbedtls/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/mbedtls/esp_crt_bundle/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/app_update/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/spi_flash/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bootloader_support/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/nvs_flash/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/pthread/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_gdbstub/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_gdbstub/xtensa
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_gdbstub/esp32
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espcoredump/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/espcoredump/include/port/xtensa
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/wpa_supplicant/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/wpa_supplicant/port/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/wpa_supplicant/esp_supplicant/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/ieee802154/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/console
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/asio/asio/asio/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/asio/port/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/common/osi/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/include/esp32/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/common/api/include/api
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/common/btc/profile/esp/blufi/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/common/btc/profile/esp/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/host/bluedroid/api/include/api
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/esp_ble_mesh/mesh_common/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/esp_ble_mesh/mesh_common/tinycrypt/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/esp_ble_mesh/mesh_core
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/esp_ble_mesh/mesh_core/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/esp_ble_mesh/mesh_core/storage
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/esp_ble_mesh/btc/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/esp_ble_mesh/mesh_models/common/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/esp_ble_mesh/mesh_models/client/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/esp_ble_mesh/mesh_models/server/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/esp_ble_mesh/api/core/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/esp_ble_mesh/api/models/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/bt/esp_ble_mesh/api
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/cbor/port/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/unity/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/unity/unity/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/cmock/CMock/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/coap/port/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/coap/libcoap/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/nghttp/port/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/nghttp/nghttp2/lib/includes
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-tls
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-tls/esp-tls-crypto
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_adc_cal/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_hid/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/tcp_transport/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_http_client/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_http_server/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_https_ota/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_https_server/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_lcd/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_lcd/interface
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/protobuf-c/protobuf-c
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/protocomm/include/common
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/protocomm/include/security
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/protocomm/include/transports
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/mdns/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_local_ctrl/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/sdmmc/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_serial_slave_link/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_websocket_client/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/expat/expat/expat/lib
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/expat/port/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/wear_levelling/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/fatfs/diskio
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/fatfs/vfs
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/fatfs/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/freemodbus/common/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/idf_test/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/idf_test/include/esp32
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/jsmn/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/json/cJSON
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/libsodium/libsodium/src/libsodium/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/libsodium/port_include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/mqtt/esp-mqtt/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/openssl/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/perfmon/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/ulp/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/wifi_provisioning/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/rmaker_common/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/json_parser/upstream/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/json_parser/upstream
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/json_generator/upstream
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_schedule/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_rainmaker/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/gpio_button/button/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/qrcode/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/ws2812_led
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_diagnostics/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/rtc_store/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp_insights/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dsp/modules/dotprod/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dsp/modules/support/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dsp/modules/windows/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dsp/modules/windows/hann/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dsp/modules/windows/blackman/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dsp/modules/windows/blackman_harris/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dsp/modules/windows/blackman_nuttall/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dsp/modules/windows/nuttall/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dsp/modules/windows/flat_top/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dsp/modules/iir/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dsp/modules/fir/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dsp/modules/math/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dsp/modules/math/add/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dsp/modules/math/sub/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dsp/modules/math/mul/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dsp/modules/math/addc/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dsp/modules/math/mulc/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dsp/modules/math/sqrt/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dsp/modules/matrix/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dsp/modules/fft/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dsp/modules/dct/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dsp/modules/conv/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dsp/modules/common/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dsp/modules/kalman/ekf/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dsp/modules/kalman/ekf_imu13states/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dl/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dl/include/tool
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dl/include/typedef
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dl/include/image
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dl/include/math
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dl/include/nn
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dl/include/layer
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dl/include/detect
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-dl/include/model_zoo
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-sr/src/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-sr/esp-tts/esp_tts_chinese/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp-sr/include/esp32
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp32-camera/driver/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/esp32-camera/conversions/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/include/fb_gfx/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32/dio_qspi/include
# - -I../../../../.platformio/packages/framework-arduinoespressif32/cores/esp32
# - -I../../../../.platformio/packages/framework-arduinoespressif32/variants/firebeetle32
# - -I.pio/libdeps/esp32/Unity/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/ArduinoOTA/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/AsyncUDP/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/BLE/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/BluetoothSerial/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/DNSServer/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/EEPROM/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/ESP32/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/ESPmDNS/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/Ethernet/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/FFat/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/HTTPClient/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/HTTPUpdate/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/HTTPUpdateServer/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/I2S/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/Insights/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/NetBIOS/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/RainMaker/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/SD/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/SD_MMC/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/SPI/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/SimpleBLE/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/Ticker/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/USB/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/Update/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/WebServer/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/WiFiClientSecure/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/WiFiProv/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/libraries/Wire/src
# - -I../../../../.platformio/packages/framework-arduinoespressif32/cores/esp32
